html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: $primary-text-color;
  background-color: $primary-bg-color;
  font-family: 'Roboto', sans-serif;

  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 480px) {
    width: 480px;
    position: relative;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1600px;
  }
}

//   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!CONTAINER!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.container {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;

  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!LOGO!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.logo {
  display: block;

  color: $logo-black-color;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  &__accent {
    color: $accent-text-color;
  }
}

.logo-footer {
  color: $base-white-color;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration: none;

  display: block;
  margin-bottom: 28px;
}


// !!!!!!!!!!!!!!!!!!!!!!!!!!PAGEHEADER!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!


.page-header {

  position: relative;

  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;

   height: 80px;
  
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $border-pageheader-color;
  }

}





  // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! M E N U M O B I L E !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!





.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

}

.menu-button .icon-cross {
  display: none;
}
.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}



.menu-container {

  display: none;

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;

  height: 800px;

  background-color: aqua;
  padding: 40px;

  &.is-open {
    display: block;
  }
}









// .navigations-all {
//   @media screen and (min-width: 768px) {
//     display: flex;
//     justify-content: space-between;
//   }
  
// }




// .mobile-menu {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   height: 60px;
// }

// .menu-button {
//   @media screen and (min-width: 768px) {
//     display: none;
//   }

//   display: inline-flex;
//   margin: 0;
//   padding: 0;
//   border: none;
//   background-color: transparent;
// }

// .menu-button .icon-cross {
//   display: none;
// }
// .menu-button.is-open .icon-cross {
//   display: block;
// }

// .menu-button.is-open .icon-menu {
//   display: none;
// }

// .menu-container {
//   @media screen and (max-width: 767px) {
//     background: white;
//     background: rgb(133, 102, 102);
//     padding: 40px;
//   }

//   @media screen and (min-width: 768px) {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//   }
//   &.is-open {
//     display: block;
//   }

//   @media screen and (max-width: 767px) {
//     display: none;

//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 480px;
//     height: 100%;
//   }
// }

// // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! N A V I G A T I O N !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

// .navigation {
//   @media screen and (min-width: 768px) {
//     display: flex;
//     margin-left: 93px;
//   }
// }

// .nav {
//   @media screen and (min-width: 768px) {
//     list-style: none;
//     display: flex;
//   }

//   padding: 0;

//   margin-top: 0;
//   margin-bottom: 0;

//   &__item {
//     padding: 0;
//     @media screen and (max-width: 767px) {
//       list-style: none;
//     }

//     @media screen and (min-width: 768px) {
//       position: relative;
//     }
//   }

//   &__item:nth-child(-n + 2) {
//     @media screen and (max-width: 767px) {
//       margin-bottom: 32px;
//     }
//   }

//   &__item:nth-child(3) {
//     @media screen and (max-width: 767px) {
//       margin-bottom: 306px;
//     }
//   }

//   &__item + &__item {
//     @media screen and (min-width: 768px) {
//       margin-left: 50px;
//     }
//   }

//   &__link {
//     @media screen and (min-width: 480px) {
//       color: #212121;
//       padding: 0;

//       font-style: normal;
//       font-weight: 500;
//       font-size: 40px;
//       line-height: 1.17;
//       letter-spacing: 0.02em;
//     }

//     @media screen and (min-width: 768px) {
//       color: $title-text-color;

//       font-weight: 500;
//       font-size: 14px;
//       line-height: 1.14;
//       letter-spacing: 0.02em;
//       text-decoration: none;
//     }

//     &:hover,
//     &:focus {
//       color: $accent-text-color;
//     }
//   }

//   &__link--current {
//     color: $accent-text-color;
//   }
// }

// .nav__link,
// .nav__link--current {
//   @media screen and (min-width: 768px) {
//     display: block;
//     padding-top: 32px;
//     padding-bottom: 32px;

//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
// }

// .nav__link--current::before {
//   @media screen and (min-width: 768px) {
//     position: absolute;
//     content: '';

//     bottom: 0;
//     width: 100%;
//     height: 4px;

//     background: #2196f3;
//     border-radius: 2px;
//   }
// }

// .contacts {
//   @media screen and (min-width:768px) {

//     margin-left: auto;
//     display: flex;
//     align-items: center;

//   }
// }
// .contact {
//   @media screen and (min-width: 767px) {
//     padding: 0;
//     margin: 0;
//   }

//   @media screen and (min-width: 768px) {
//     display: inline-block;

//     justify-content: flex-end;
//     align-items: center;

//     padding: 0;

//     &__item {
//       @media screen and (max-width: 767px) {
//         text-decoration: none;

//         font-style: normal;
//         font-weight: 500;
//         font-size: 34px;
//         line-height: 1.17;

//         letter-spacing: 0.02em;

//         color: #2196f3;
//       }
//     }

//     &__item:nth-child(1) {
//       margin-bottom: 10px;
//     }

//     &__link {
//       @media screen and (max-width: 767px) {
//         text-decoration: none;

//         font-style: normal;
//         font-weight: 500;
//         font-size: 34px;
//         line-height: 1.17;

//         letter-spacing: 0.02em;

//         color: #2196f3;
//       }

//       @media screen and (min-width: 768px) {
//         color: $primary-text-color;
//         fill: $primary-text-color;
//         display: flex;
//         align-items: center;

//         font-weight: 500;
//         font-size: 12px;
//         line-height: 1.16;
//         letter-spacing: 0.02em;
//         text-decoration: none;

//         transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//       }

//       &:hover,
//       &:focus {
//         color: $accent-text-color;
//         fill: $accent-secondary-bg-color;
//       }
//     }

//     &__icon {
//       @media screen and (max-width: 767px) {
//         display: none;
//       }
//       margin-right: 10px;
//     }
//   }

  // @media screen and (min-width: 1200px) {
  //   display: flex;
  //   align-items: center;

//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     text-decoration: none;

//     &__item:nth-child(1) {
//       margin-bottom: 0px;
//     }

//     &__item + &__item {
//       margin-left: 40px;
//     }
//   }
// }

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! F O O T E R N A V I G A T I O N !!!!!!!!!!!!!!!!!!!!!!!!!!

.footer-nav {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  &__link {
    color: $base-white-color;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-text-color;
    }
  }

  &__contact {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-text-color;
    }
  }

  &__list {
    display: block;

    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }

  &__item:nth-child(-n + 2) {
    @media screen and (max-width: 767px) {
      margin-bottom: 12px;
    }
  }
}

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!HERO!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.hero {
  background-color: $accent-bg-color;

  margin: auto;

  padding-top: 118px;
  padding-bottom: 118px;

  height: 400px;
  // width: 480px;
  background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/herofon.jpg);
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (min-width: 1200px) {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }

  &__title {
    color: $base-white-color;

    text-align: center;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    // width: 696px;
    margin: 0 auto 30px;

    @media screen and (min-width: 1200px) {
      text-align: center;
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      letter-spacing: 0.06em;
      text-transform: uppercase;
    }
  }
}

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!BUTTONHERO!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.hero__button {
  cursor: pointer;

  color: $base-white-color;
  background-color: $accent-secondary-bg-color;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  border-radius: 4px;
  padding: 10px 32px;
  margin: 0 auto;
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $button-bg-active;
  }
}

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!FEATURE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.features {
  padding: 0;
  margin: 0;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    padding: 0;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 30px;
  }

  &__item {
    @media screen and (min-width: 768px) {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
      margin: 0;
      width: calc((100% - 90px) / 4);
    }
  }

  &__item:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  &__block {
    margin-bottom: 30px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $secondary-bg-color;
  }

  &__title {
    color: $title-text-color;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;

    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
      text-align: start;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    margin-top: 0;
    margin-bottom: 0;
  }
}

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! W O R K S !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.section__works {
  @media screen and (max-width: 1200px) {
    display: none;
  }

  padding-top: 0;
}

.works__title {
  color: $title-text-color;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 50px;
}

.works-list {
  display: flex;

  padding: 0;
  margin-top: 0;
  margin-bottom: 0;

  &__item {
    width: 370px;
    position: relative;
  }
  &__img {
    display: block;
  }
  &__item + &__item {
    margin-left: 30px;
  }
  &__block {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 100%;
    height: 70px;

    bottom: 0;

    background: rgba(47, 48, 58, 0.8);
  }
  &__text {
    margin: 0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $base-white-color;
  }
}

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! T E A M !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.team {
  background-color: $secondary-bg-color;

  &__title {
    color: $title-text-color;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    margin-top: 0;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.16;
      text-align: center;
      letter-spacing: 0.03em;
    }
  }
}

.team-list {
  display: block;
  margin: 0;
  padding: 0;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    padding: 0;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
  }

  &__item {
    @media screen and (min-width: 768px) {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
      margin: 0;
    }
  }

  &__item + &__item {
    @media screen and (min-width: 1200px) {
      margin-left: 30px;
    }
  }

  &__item {
    background-color: $base-white-bg-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__item:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  &__description {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__user {
    color: $title-text-color;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;

    margin-top: 0;
    margin-bottom: 10px;
  }

  &__major {
    margin: 0;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
  }
  &__photo {
    width: 100%;
    display: block;
  }
}

.social-networks {
  display: flex;
  justify-content: center;
  padding: 0;

  &__item {
    background-color: $base-white-bg-color;
  }
  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: $base-white-bg-color;
    fill: $icon-fill-color;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      fill: $base-white-color;
      background-color: $accent-secondary-bg-color;
    }
  }
}

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! C L I E N T S !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.clients-title {
  color: $title-text-color;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
  }
}

.company-list {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  padding: 0;
  margin: -15px;

  &__item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;

    @media screen and (min-width: 768px) {
      width: calc((100% - 6 * 15px) / 3);
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 12 * 15px) / 6);
      margin: 15px;
    }
  }

  &__link {
    display: flex;
    height: 92px;
    justify-content: center;
    align-items: center;
    border-radius: 4%;

    border: 1px solid rgba(0, 0, 0, 0.25);
    background-color: $base-white-bg-color;
    fill: $icon-fill-color;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      fill: $accent-secondary-bg-color;
      border: 1px solid $accent-text-color;
    }
  }
}

// %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%$$$$$$$$$$$$$$% F O O T E R %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

.footer {
  background-color: $accent-bg-color;
  padding-top: 60px;
  padding-bottom: 60px;
  //   width: 1600px;
  margin: auto;

  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-general {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 0;
  }

  .footer-navigation {
    margin-bottom: 60px;
  }
}

.footer-networks {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }

  &__title {
    color: $base-white-color;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  &__link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    fill: $base-white-color;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: $accent-secondary-bg-color;
    }
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }
}

.footer-form {
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $base-white-color;

    @media screen and (min-width: 1200px) {
      text-align: start;
    }
  }

  &__input {
    @media screen and (min-width: 1200px) {
      display: inline-block;
    }

    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    width: 358px;
    height: 50px;
    padding: 15px 16px;

    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    color: $base-white-color;
  }

  &__input::placeholder {
    @media screen and (min-width: 1200px) {
      display: flex;
    }

    align-items: center;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.16;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }

  &__label {
    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: center;
    }
  }

  &__button {
    display: flex;

    text-align: center;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
    // margin-left: 12px;
    width: 200px;
    height: 50px;
    cursor: pointer;

    border: none;
    outline: none;
    background-color: $accent-secondary-bg-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: $base-white-color;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $button-bg-active;
      background-origin: padding-box;
    }

    @media screen and (min-width: 1200px) {
      margin-left: 12px;
    }
  }

  &__icon {
    margin-left: 10px;
    fill: $base-white-color;
  }
}
