html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    color: $primary-text-color;
    background-color: $primary-bg-color;
    font-family: 'Roboto', sans-serif;

    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width: 480px) {
      width: 480px;
  }

    @media screen and (min-width: 768px) {
    width: 768px;
  }

    @media screen and (min-width: 1200px) {
    width: 1600px;
  }
  }

//   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!CONTAINER!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

  .container {

  padding-top: 0;
  padding-bottom: 0;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
  }


.section {
  padding-top: 94px;
  padding-bottom: 94px;

}

// !!!!!!!!!!!!!!!!!!!!!!!!!!PAGEHEADER!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

  .page-header__main {

    @media screen and (min-width:768px) {
      display: flex;
      align-items: center;

      height: 80px;

      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: $border-pageheader-color;


      &.page-header__menu {
        display: none;
      }
    }
  }
  
.page-header {
  position: relative;
}

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!LOGO!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.logo {

  display: block;

  color: $logo-black-color;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  &__accent {
    color: $accent-text-color;
}
}

.logo-footer {
  color: $base-white-color;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration: none;

  display: block;
  margin-bottom: 28px;
}




.mobile-menu {

 
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}


.page-header__menu {

  @media screen and (min-width:768px) {
    display: none;
  }

  display: inline-flex;
  margin: 0;
  padding:0 ;
  border: none;
  background-color: transparent;

}

.page-header__menu .icon-cross {
  display: none;
}
.page-header__menu.is-open .icon-cross{
  display: block;
}

.page-header__menu.is-open .icon-menu{
  display: none;
}

.menu-container {

  display: none;
  
  position: absolute;
  top: 100%;
  width: 100%;

  height: 400px;

  background-color: aqua;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  
  &.is-open {
    display: block;
  }
}



// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! N A V I G A T I O N !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.nav {

 display: none;

 @media screen and (min-width:768px) {
  
  display: flex;
  margin-left: 93px;
 }
  
  padding: 0;

  margin-top: 0;
  margin-bottom: 0;

  &__item {
   
    position: relative;
  }

  &__item + &__item {
    margin-left: 50px;
  }

  &__link {
    color: $title-text-color;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $accent-text-color;
    }
  }

  &__link--current {
    color: $accent-text-color;
  }
}

.nav__link,
.nav__link--current {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link--current::before {
  position: absolute;
  content: '';

  bottom: 0;
  width: 100%;
  height: 4px;

  background: #2196f3;
  border-radius: 2px;
}

.contact {
  display: none;

  @media screen and (min-width:768px) {
    
  align-items: center;
  display: block;
  padding: 0;
  margin: 0;
  margin-left: auto;

  &__item {
    margin: 0 auto;
  }

  &__item:nth-child(1) {
    margin-bottom: 10px;
  }

  &__link {
    color: $primary-text-color;
    fill: $primary-text-color;
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-text-color;
      fill: $accent-secondary-bg-color;
    }
  }

  &__icon {
    margin-right: 10px;
  }
  }

  @media screen and (min-width:1200px) {
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;


    &__item:nth-child(1) {
      margin-bottom: 0px;
    }
   
    &__item + &__item {
      margin-left: 40px;
    }
    }
  
}

.footer-nav {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  &__link {
    color: $base-white-color;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-text-color;
    }
  }

  &__contact {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-text-color;
    }
  }

  &__list {
    display: block;

    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }

  &__item:nth-child(-n + 2) {
    @media screen and (max-width:767px) {
        margin-bottom: 12px;
    }
    
  }
}





// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!HERO!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.hero {
  background-color: $accent-bg-color;

  margin: auto;

  padding-top: 118px;
  padding-bottom: 118px;

  height: 400px;
  // width: 480px;
  background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/herofon.jpg);
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (min-width:1200px) {
    height: 600px;
    padding-top: 200px;
  padding-bottom: 200px;
  }

  &__title {
    color: $base-white-color;

    text-align: center;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    // width: 696px;
    margin: 0 auto 30px;

    @media screen and (min-width:1200px) { 

      text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
    }
  }
}


// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!BUTTONHERO!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.hero__button {
  cursor: pointer;

  color: $base-white-color;
  background-color: $accent-secondary-bg-color;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  border-radius: 4px;
  padding: 10px 32px;
  margin: 0 auto;
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $button-bg-active;
  }
}



// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!FEATURE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.features {
//   display: flex;
  padding: 0;
  margin: 0;

  &__item:not(:last-child) {
    @media screen and (max-width: 767px) {
            margin-bottom: 30px;
    }
}
//   gap: 30px;
//   &__item {
//     flex-basis: calc((100% - 90px) / 4);
//   }

  &__block {
    margin-bottom: 30px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $secondary-bg-color;
  }

  &__title {
    color: $title-text-color;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: start;
    text-align: center;

    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;

  }

  &__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    margin-top: 0;
    margin-bottom: 0;
  }
}


// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! W O R K S !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!




.section__works {

  @media screen and (max-width: 767px) {
    display: none;
  }
    
  padding-top: 0;
}

.works__title {
  color: $title-text-color;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 50px;
}

.works-list {
  display: flex;

  padding: 0;
  margin-top: 0;
  margin-bottom: 0;

  &__item {
    width: 370px;
    position: relative;
  }
  &__img {
    display: block;
  }
  &__item + &__item {
    margin-left: 30px;
  }
  &__block {

    display: flex;
    justify-content: center;
    align-items: center;


    position: absolute;
    width: 100%;
    height: 70px;

    bottom: 0;

    background: rgba(47, 48, 58, 0.8);
  }
  &__text {


    margin: 0;
    // padding-top: 27px;
    // padding-bottom: 27px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $base-white-color;
  }
}




// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! T E A M !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.team {
  background-color: $secondary-bg-color;

  &__title {
    color: $title-text-color;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    margin-top: 0;
    margin-bottom: 30px;
  }
}

.team-list {
//   display: flex;

  margin: 0;
  padding: 0;

  &__item {

    background-color: $base-white-bg-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__item:not(:last-child) {
    @media screen and (max-width: 767px) {
            margin-bottom: 30px;
    }
  }
//   &__item + &__item {
//     margin-left: 30px;
//   }

  &__description {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__user {
    color: $title-text-color;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;

    margin-top: 0;
    margin-bottom: 10px;
  }

  &__major {

    margin: 0;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
  }
  &__photo {
    width: 100%;
    display: block;
    
  }
}

.social-networks {
  display: flex;
  justify-content: center;
  padding: 0;

  &__item {
    background-color: $base-white-bg-color;
  }
  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: $base-white-bg-color;
    fill: $icon-fill-color;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      fill: $base-white-color;
      background-color: $accent-secondary-bg-color;
    }
  }
}


// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! C L I E N T S !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.clients-title {
  color: $title-text-color;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 30px;
}

.company-list {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
//   margin: 0;
  padding: 0;

  margin: -15px;
//   gap: 30px;

  &__item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
 
  &__link {
    display: flex;
    height: 92px;
    justify-content: center;
    align-items: center;
    border-radius: 4%;

    border: 1px solid rgba(0, 0, 0, 0.25);
    background-color: $base-white-bg-color;
    fill: $icon-fill-color;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      fill: $accent-secondary-bg-color;
      border: 1px solid $accent-text-color;
    }
  }
}



// %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%$$$$$$$$$$$$$$% F O O T E R %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

.footer {
  background-color: $accent-bg-color;
  padding-top: 60px;
  padding-bottom: 60px;
//   width: 1600px;
  margin: auto;

  text-align: center;

}

// .footer-general {
//   display: flex;
//   margin-right: 0;
//   align-items: baseline;
// }

.footer-networks {


    @media screen and (max-width:767px) {
        margin-top: 60px;
        margin-bottom: 60px;  
    }
        
    

//   margin-left: 70px;

  &__title {
    color: $base-white-color;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  &__link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    fill: $base-white-color;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: $accent-secondary-bg-color;
    }
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }
}

.footer-form {
//   margin-left: 93px;

  &__title {
    margin-top: 0;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $base-white-color;
  }

  &__input {
    // display: inline-block;

    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    width: 358px;
    height: 50px;
    padding: 15px 16px;

    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    color: $base-white-color;
  }

  &__input::placeholder {
    // display: flex;
    align-items: center;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.16;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }

//   &__label {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }

  &__button {
    display: flex;

    text-align: center;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
    // margin-left: 12px;
    width: 200px;
    height: 50px;
    cursor: pointer;

    border: none;
    outline: none;
    background-color: $accent-secondary-bg-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: $base-white-color;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $button-bg-active;
      background-origin: padding-box;
    }
  }

  &__icon {
    margin-left: 10px;
    fill: $base-white-color;
  }
}
