
 $primary-text-color: #757575;
 $title-text-color: #212121;
 $accent-text-color: #2196f3;
 $logo-black-color: #000000;
 $base-white-color: #ffffff;
 $black-color: #000000;

  /* фон */
 $primary-bg-color: #ffffff;
 $accent-bg-color: #2f303a;
 $accent-secondary-bg-color: #2196f3;
 $base-white-bg-color: #ffffff;
 $secondary-bg-color: #f5f4fa;
 $button-bg-active: #188ce8;

 $icon-fill-color: #afb1b8;
 $border-pageheader-color: #ececec;
 $border-color: #eeeeee;





